<div class="container profile-container">
    <div class="intro">
        <div class="avatar">
            <a href="<%- url_for(theme.nav.Posts) %>"><img src="<%- url_for(theme.avatar) %>"></a>
        </div>
        <div class="nickname"><%- theme.nickname %></div>
        <div class="description"><%- markdown(theme.description) %></div>

        <% if (theme.recent_post_enable) { %>
            <div class="recent-posts">
                <h2 class="recent-post">Recent Post</h2>
                <ul class="latest-posts">
                    <% site.posts.sort('date', -1).limit(theme.recent_post_items).forEach(function(post) { %>
                        <li>
                            <a href="<%= post.permalink %>"><%= post.title %></a>
                            <span><%= post.date.format(theme.date_format) %></span>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <% } %>

    </div>
</div>
