<footer id="footer" class="footer">
    <div class="links">
        <% if (theme.links !== undefined) { %>
            <% Object.keys(theme.links).forEach(function(key) { %>
              <a href="<%= theme.links[key].url %>" title="<%- key.toLowerCase() %>" class="link-item">
                <% if(theme.links_text_enable) { %>
                    <%= key %>
                <%}%>
                <%if(theme.links_icon_enable){ %>
                    <i class="<%= theme.links[key].icon %>"></i>
                <%}%>
              </a>
            <% }); %>
          <% } %>
    </div>    
    <div class="copyright">
        <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
    </div>
</footer>
